<app-header></app-header>

<main>
  <ul id="users">
    <!-- @for (user of users; track user.id) { -->
    <li *ngFor="let user of users">
      <app-user [user]="user" (select)="onSelectUser($event)"> </app-user>
    </li>
    <!-- } -->
  </ul>
  <!-- @if(selectedUser){ -->

    <app-tasks *ngIf="selectedUser; else fallback" [userId]="selectedUser.id" [name]="selectedUser!.name"> </app-tasks>
  <!-- }@else { -->
<ng-template #fallback>
    <h2>Select a user to see their tasks!</h2>
  <!-- } -->
</ng-template>
</main>
